<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <link href="/static/css/font-awesome/css/all.min.css?ver=1.2.0" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css?ver=1.2.0" rel="stylesheet">
    <link href="/static/css/aos.css?ver=1.2.0" rel="stylesheet">
    <link href="/static/css/main.css?ver=1.2.0" rel="stylesheet">
    <link href="/static/css/success.css" rel="stylesheet">
</head>
<body>
   <div class="success-page">
    <h3>Form Successfully submitted</h3> 
    <p> click <a href="http://localhost:8000">this link</a> to return to the Resume page</p>
   </div>
</body>
</html>